---
- name: Verify connectivity
  hosts: network
  gather_facts: no

  tasks:
    - name: Verify device access with show version
      ios_command:
        commands:
          - show version
