---
- name: Base configuration
  hosts: network
  gather_facts: no

  collections:
    - cisco.ios

  tasks:
    - name: Set hostname
      ios_hostname:
        hostname: "{{ inventory_hostname }}"

    - name: Configure login banner
      ios_banner:
        banner: login
        text: |
          ************************************************
          * Authorized CNIT 381 Network - No Unauthorized Access *
          ************************************************

    - name: Configure domain name
      ios_system:
        domain_name: cnit381.com

    - name: Configure router management interface description
      ios_interfaces:
        config:
          - name: GigabitEthernet0/0/1
            description: Management Interface
            enabled: true
      when: inventory_hostname in groups['routers']

    - name: Configure switch management VLAN description
      ios_interfaces:
        config:
          - name: Vlan1
            description: Management VLAN
            enabled: true
      when: inventory_hostname in groups['switches']
