---
- name: Base configuration for routers and switches
  hosts: network
  gather_facts: no

  tasks:
    - name: Set hostname
      ios_config:
        config:
          - hostname {{ inventory_hostname }}

    - name: Configure login banner
      ios_config:
        config:
          - banner login ^AUTHORIZED ACCESS ONLY^

    - name: Configure interface descriptions on routers
      ios_config:
        parents:
          - interface GigabitEthernet0/0/1
        config:
          - description Management Interface
      when: inventory_hostname in groups['routers']

    - name: Configure interface descriptions on switch
      ios_config:
        parents:
          - interface Vlan1
        config:
          - description Management VLAN
      when: inventory_hostname in groups['switches']