---
- name: Configure Base Settings
  hosts: network
  gather_facts: no
  
  tasks:
    - name: Set hostname on routers
      cisco.ios.ios_config:
        lines:
          - hostname {{ inventory_hostname }}
      when: inventory_hostname in groups['routers']

    - name: Set hostname on switches
      cisco.ios.ios_config:
        lines:
          - hostname {{ inventory_hostname }}
      when: inventory_hostname in groups['switches']

    - name: Configure login banner
      cisco.ios.ios_banner:
        banner: motd
        text: |
          ******************************************
          * Authorized Access Only                *
          * CNIT 381 Network Automation Project   *
          * Configured via Ansible                *
          ******************************************
        state: present

    - name: Configure interface descriptions on routers
      cisco.ios.ios_config:
        lines:
          - description Management Interface
        parents: interface GigabitEthernet0/0/1
      when: inventory_hostname in groups['routers']

    - name: Configure data interfaces on R1
      cisco.ios.ios_config:
        lines:
          - description Connected to SW1
          - ip address 10.0.1.1 255.255.255.0
          - no shutdown
        parents: interface GigabitEthernet0/1/1
      when: inventory_hostname == 'R1'

    - name: Configure data interfaces on R2
      cisco.ios.ios_config:
        lines:
          - description Connected to SW1
          - ip address 10.0.2.1 255.255.255.0
          - no shutdown
        parents: interface GigabitEthernet0/1/1
      when: inventory_hostname == 'R2'

    - name: Configure interface descriptions on switch
      cisco.ios.ios_config:
        lines:
          - description Management Interface
        parents: interface Vlan1
      when: inventory_hostname in groups['switches']

    - name: Save configuration
      cisco.ios.ios_config:
        save_when: always

    - name: Verify configuration
      cisco.ios.ios_command:
        commands:
          - show running-config | include hostname
      register: config_output

    - name: Display configuration result
      ansible.builtin.debug:
        msg: "Base configuration applied to {{ inventory_hostname }}"