---
- name: Base configuration
  hosts: network
  gather_facts: no

  tasks:
    - name: Set hostname
      cisco.ios.ios_hostname:
        hostname: "{{ inventory_hostname }}"

    - name: Configure login banner
      cisco.ios.ios_banner:
        banner: login
        text: |
          ************************************************
          * Authorized CNIT 381 Network - No Unauthorized Access *
          ************************************************

    - name: Configure domain name
      cisco.ios.ios_system:
        domain_name: cnit381.com

    - name: Configure router interface descriptions
      cisco.ios.ios_interfaces:
        config:
          - name: GigabitEthernet0/0/1
            description: Management Interface
            enabled: true
      when: inventory_hostname in groups['routers']

    - name: Configure switch management interface description
      cisco.ios.ios_interfaces:
        config:
          - name: Vlan1
            description: Management VLAN
            enabled: true
      when: inventory_hostname in groups['switches']
