---
- name: Base configuration for routers and switches
  hosts: network
  gather_facts: no

  tasks:
    - name: Set hostname
      cisco.ios.ios_hostname:
        hostname: "{{ inventory_hostname }}"

    - name: Configure login banner
      cisco.ios.ios_banner:
        banner: login
        text: |
          ************************************************
          * Authorized CNIT 381 Network - No Unauthorized Access *
          ************************************************

    - name: Set interface description on routers
      cisco.ios.ios_config:
        parents:
          - interface GigabitEthernet0/0/1
        config:
          - description Managed by Ansible
      when: inventory_hostname in groups['routers']

    - name: Configure SSH and security settings
      cisco.ios.ios_config:
        config:
          - ip domain-name cnit381.com
          - username admin privilege 15 secret Cnit381!
          - crypto key generate rsa modulus 1024
