---
- name: Base configuration for routers and switches
  hosts: network
  gather_facts: no

  collections:
    - cisco.ios

  tasks:
    - name: Set hostname
      ios_hostname:
        hostname: "{{ inventory_hostname }}"

    - name: Configure login banner
      ios_banner:
        banner: login
        text: |
          ************************************************
          * Authorized CNIT 381 Network - No Unauthorized Access *
          ************************************************

    - name: Configure router interface description
      ios_config:
        parents:
          - interface GigabitEthernet0/0/1
        config:
          - description Managed by Ansible
      when: inventory_hostname in groups['routers']

    - name: Configure domain name and SSH prereqs
      ios_config:
        config:
          - ip domain-name cnit381.com
          - username admin privilege 15 secret Cnit381!
