---
- name: Configure EIGRP routing
  hosts: routers
  gather_facts: no

  tasks:
    - name: Create loopback interfaces
      ios_config:
        lines:
          - interface Loopback{{ item }}
          - ip address 10.{{ inventory_hostname[-1] }}.{{ item }}.1 255.255.255.255
      loop: [1, 2, 3]

    - name: Configure EIGRP AS 100
      ios_config:
        lines:
          - router eigrp 100
          - network 0.0.0.0
          - no auto-summary