---
- name: Configure EIGRP on routers
  hosts: routers
  gather_facts: no

  tasks:
    - name: Enable EIGRP 100
      cisco.ios.ios_config:
        lines:
          - router eigrp 100
          - network 10.0.12.0 0.0.0.3
          - network 192.168.10.0 0.0.0.255
          - network 192.168.20.0 0.0.0.255
          - network 192.168.100.0 0.0.0.255
          - network 1.1.1.0 0.0.0.255
          - network 2.2.2.0 0.0.0.255
          - no auto-summary
