---
- name: Configure VLANs and trunking
  hosts: switches
  gather_facts: no

  tasks:
    - name: Create VLANs
      cisco.ios.ios_vlans:
        config:
          - vlan_id: 10
            name: DATA
          - vlan_id: 20
            name: VOICE
          - vlan_id: 100
            name: MANAGEMENT
        state: merged

    - name: Set trunk ports (fa0/1 and fa0/2)
      cisco.ios.ios_l2_interfaces:
        config:
          - name: fa0/1
            mode: trunk
            trunk:
              allowed_vlans: "10,20,100"
          - name: fa0/2
            mode: trunk
            trunk:
              allowed_vlans: "10,20,100"
        state: merged

    - name: Assign Ansible management port (fa0/24) to VLAN 100
      cisco.ios.ios_l2_interfaces:
        config:
          - name: fa0/24
            mode: access
            access:
              vlan: 100
        state: merged
