---
- name: Configure VLANs on switch
  hosts: switches
  gather_facts: no

  tasks:
    - name: Create VLANs
      ios_config:
        lines:
          - vlan 10
          - name DATA
          - vlan 20
          - name VOICE
          - vlan 99
          - name MANAGEMENT

    - name: Configure trunk port to router
      ios_config:
        parents: interface FastEthernet0/1
        lines:
          - switchport mode trunk
