---
- name: Configure network services
  hosts: network
  gather_facts: no

  tasks:
    - name: Configure NTP server
      ios_config:
        lines:
          - ntp server 216.239.35.0

    - name: Configure logging buffer
      ios_config:
        lines:
          - logging buffered 16384
