# Testing Results

This document contains screenshots of playbook executions.

---

## 1. Playbook Runs

### Playbook 1: Verify Connectivity
![Playbook 1](../screenshots/playbook1.png)

### Playbook 2: Base Configuration
![Playbook 2](../screenshots/playbook2.png)

### Playbook 3: EIGRP + Loopbacks
![Playbook 3](../screenshots/playbook3.png)

### Playbook 4: VLAN Configuration
![Playbook 4](../screenshots/playbook4.png)

### Playbook 5: Network Services
![Playbook 5](../screenshots/playbook5.png)

### Playbook 6: Backup Configuration
![Playbook 6](../screenshots/playbook6.png)

---

## 2. Network Diagram

![Network Diagram](../screenshots/network_diagram.png)

---

## 3. Final Verification Screenshots

### EIGRP Neighbors
![EIGRP Neighbors](../screenshots/fin-eigrp.png)

### Loopback Interfaces
![Loopback Interfaces](../screenshots/fin-loopback.png)

### VLANs on Switch
![VLANs](../screenshots/fin-vlans.png)
